.video-view-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f6f7f9;
  min-height: 100vh;
}

/* Left section */
.video-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.video-player {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  background: black;
}

.video-title-main {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.video-stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-btn {
  background: #10b981;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Channel Section */
.channel-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.channel-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sub-btn {
  margin-left: auto;
  background: #10b981;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.sub-btn.subscribed {
  background: white;
  color: #10b981;
  border: 1px solid #10b981;
}

.description-box {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

/* Comments */
.comment-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.no-comments {
  margin-top: 15px;
  color: #666;
}

/* Right section */
.video-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recommend-card {
  display: flex;
  gap: 10px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.recommend-thumb {
  width: 120px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.recommend-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 600;
}

.duration {
  font-size: 12px;
  color: #777;
}

.like-btn {
  background: #10b981;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.like-btn.liked {
  background: white;
  color: #10b981;
  border: 1px solid #10b981;
}

/* -------- TABLET -------- */
@media (max-width: 900px) {

  .video-view-container {
    flex-direction: column;
  }

  .video-player {
    height: 350px;
  }

  .video-right {
    width: 100%;
  }
}


/* -------- MOBILE -------- */
@media (max-width: 600px) {

  .video-view-container {
    padding: 15px;
  }

  .video-player {
    height: 220px;
  }

  .video-title-main {
    font-size: 18px;
  }

  .video-stats-row {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .channel-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .recommend-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .recommend-thumb {
    width: 100%;
    height: 180px;
  }
}


/* -------- EXTRA SMALL -------- */
@media (max-width: 420px) {

  .video-player {
    height: 180px;
  }

  .video-title-main {
    font-size: 16px;
  }

  .recommend-thumb {
    height: 150px;
  }
}
