.google-btn {
    margin-top: 10px;
  width: 100%;
  height: 48px;
  background: black;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn:hover {
  background: #f7f7f7;
  color: black;
}

.google-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}